# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

echo PAT*.txt >> .gitignore
echo *.txt >> .gitignore

node_modules
dist
dist-ssr
.env
.env.local
.env.production
*.log
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
PAT*.txt 
*.txt 
